<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Name: {{student.student.username}}</p>
    <img src="{{student.student_image.url}}">
    <p>Class: {{student.student_class.school_name}}</p>
    <p>Price: {{student.student_class.price}}</p>
    <p>School: {{student.school.school_name}}</p>
    <button>Make Payment</button>
</body>
</html>