<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
    margin: 0;padding: 0;
    font-family: "poppins";
}
    </style>
    {% if Any_pay %}
    <h2>List of student that payed school fees</h2>
    {% for student in Students %}
    {% if student.pay == True %}
    <li>{{student.student}}</li>
    {% endif %}
    {% endfor %}
    {% else %}
    <p>Do person payed yet</p>
    {% endif %}
    {% if Any_not_pay %}
    <h2>List of student that donot pay school fees</h2>
    {% for student in Students %}
    {% if student.pay == False %}
    <li>{{student.student}}</li>
    {% endif %}
    {% endfor %}
    {% endif %}
</body>
</html>